### Environment
__pycache__/
venv/

### Data
data/raw/csv/
data/raw/zip/

### Functions
src/functions/deploy.sh
src/functions/test_deploy.py

### Credentials
config/aws_secret.yml

### Logs
logs/*.log